<tr>
  <th scope="row"><%= transaction.uuid %></th>
  <td><%= transaction.customer_email %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.type %></td>
  <td><%= transaction.status %></td>
</tr>
